@model Vacancy

@{
    ViewBag.Title = "Вакансия";
    Layout = "_Layout";
}

<h2>Подробности вакансии</h2>
<h3>Название вакансии: @Model.Name</h3>
<h3>Описание :@Model.Description</h3>
<h3>Категория : @Model.Category.Name</h3>
<h3>Требуемый опыт : @Model.WorkExperience</h3>
<h3>Зарплата : @Model.Salary</h3>
<h3>Дата создания/обновления :@Model.DateOfCreator </h3>
<h3>Доступность к публикации :@Model.IsPublic </h3>
<h3>Работодатель : @Model.Employer</h3>





