@model List<Vacancy>

@{
    ViewBag.Title = "Все вакансии ";
    Layout = "_Layout";
}

<h2>Все вакансии</h2>
<table style="width: 100%">
    <tr>
        <td>Название</td>
        <td>Дата обновления</td>
        <td>Действия</td>
    </tr>

    @foreach (var vac in @Model)
    {
        <tr>
            <td>
                <a asp-action="Index" asp-controller="Vacancies" asp-route-id="@vac.Id">
                    @vac.Name
                </a>
            </td>
            <td>@vac.DateOfCreator</td>
            <td>
                <a class="btn badge-primary btn-rounded btn-lg" asp-action="UpDate" asp-controller="Vacancies" asp-route-id="@vac.Id">Обновить</a>
                <a class="btn badge-primary btn-rounded btn-lg" asp-action="Index" asp-controller="Responses" asp-route-id="@vac.Id">Посмотреть отзывы</a>
                <a class="btn badge-primary btn-rounded btn-lg" asp-action="Edit" asp-controller="Vacancies" asp-route-id="@vac.Id">Редактировать</a>
                @if (@vac.IsPublic)
                {
                    <a class="btn  btn-danger btn-lg" asp-action="Publish" asp-controller="Vacancies" asp-route-id="@vac.Id">Снять</a>
                }
                else
                {
                    <a class="btn badge-primary badge-info btn-lg" asp-action="Publish" asp-controller="Vacancies" asp-route-id="@vac.Id">Опубликовать</a>
                }
            </td>
        </tr>
    }

</table>
